@import 'fonts';
@import 'functions';


body {
    background-color: #333;
    margin: 0;

    span {
        font-family: Montserrat;
        font-weight: 900;

        font-size: rem(50);
        color: green;
    }

}